rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /ratings/{ratingId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null
        && request.resource.data.raterId == request.auth.uid;
      allow update, delete: if false;
    }

  }
}
