<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7DIE3YG5yHDUau-UbsU0qSdVD6P9_GKs</string>
	<key>GCM_SENDER_ID</key>
	<string>239125281431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rafal.volleymanager</string>
	<key>PROJECT_ID</key>
	<string>volley-manager-f3cff</string>
	<key>STORAGE_BUCKET</key>
	<string>volley-manager-f3cff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239125281431:ios:470758954fe425420407d2</string>
</dict>
</plist>